body {
    background: url("Cool Wallpapers Blue Wallpapers Background.jpg") no-repeat fixed;
     background-size: cover;
     margin-top: 10px;
   }
   .booked {
       font-family: Candara;
       margin-bottom: -220px;
       font-size: 25px;
       font-weight: bold;
   }
   .formname{
       width: 200px;
       height: 30px; 
       border-radius: 5px
   }
   .appointmentform{
       margin-top: -300px;
       margin-left: 400px;
       line-height: 40px;
       color: white;
       font-family: arial;
       font-size: 20px;
   }
.booked {
   color: white;
   text-align: center;
   margin-top: 100px;
}
.box{ 
   box-sizing: border-box;
    background: rgba(0,0,0,.5);
    width: 700px;
    height: 600px;
    margin-left: 330px;
    margin-bottom: -930px;
     border-radius: 30px;
     display: block;
   }
   .submitbtn{
       margin-left: 180px;
       display: inline-block; 
       padding: 15px 25px;
       font-size: 20px;
       cursor: pointer;
       text-align: justify;
       outline: none;
       color: black; 
       background-color:#FFF; 
       border: none;
       border-radius: 15px; 
       box-shadow: 0 5px #999;
   }
   .submitbtn:hover { 
       background-color:#0012A6;
       color: white;
   }
   .submitbtn:active {
        background-color: #0012A6; 
        box-shadow: 0 5px #666;
        transform: translateY(4px);
       }
       .resetbtn {
           margin-left: 50px;
           display: inline-block; 
           padding: 15px 25px;
           font-size: 20px;
           cursor: pointer;
           text-align: justify;
           outline: none;
           color: black; 
           background-color:#FFF; 
           border: none; 
           border-radius: 15px; 
           box-shadow: 0 5px #999;
}
.resetbtn:hover {
    background-color:#0012A6;
    color: white;
   }
   .resetbtn:active { 
       background-color: #0012A6; 
       box-shadow: 0 5px #666;
       transform: translateY(4px);
   }
   h1 {
       margin: 0px;
       color: darkblue;
       text-align: center; 
       background-color:white;
       font-size: 40px;
   }
   .home {
       color: white;
       font-size: 30px;
       text-decoration: none;
   }
   .home:hover { 
       border: solid white 3px;
   }
   .back 
   {
       margin-bottom: -20px;
   }